/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  background-attachment: fixed
}

.header {
  position: relative;
  display: grid;
  align-items: baseline;
  min-height: 768px;
  padding:20px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
}

@media (width < 1024px) {
  .header{
    min-height: 1024px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header{
    min-height: 668px;
    padding: 10px;
  }
}

.header__decor {
  position: absolute;
  top: 21px;
  right: 49px;
  color: var(--decor-color);
  font-family: var(--font-family);
  text-transform: uppercase;
}

.header__decor::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 9px; 
  height: 9px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  fill: var(--decor-color);
  background: var(--decor-color);
  filter: drop-shadow(0px 0px 4px var(--decor-color));

}

.header::before {
  content: "";
  position: absolute;
  top:20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inset-inline-end: 20px;
  
}

@media (width < 768px) and (width >= 375px) {
  .header::before{
    inset-inline-end: 10px;
    top: 10px;
  }
}

.header::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inset-block-end: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .header::after{
    inset-block-end: 10px;
    left: 10px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 10px;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 193px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu-list {
    margin-top: 76.5px;
  }
}

.header__theme-menu-button {
  margin: 0px, 13px;
  border: 0px;
  color: var(--button-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  padding: 2.5px 12px;
  text-transform: lowercase;
  background-color: transparent;

}     

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);  
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.logo {
  color: var(--logo-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #FF0070
}

@media (width < 1024px) {
  .logo{
    font-size: 120px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .logo {
    font-size: 116px;
  }
}

.header__logo {
  z-index: 1;
  justify-self:left;
  align-self: center;
  text-shadow: 4px 4px 0px #FF0070;
}

@media (width < 1024px) {
  .header__logo {
    text-shadow:  4px 4px 0px var(--text-shadow-color);
    justify-self: left;
    align-self: auto;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__logo {
    text-shadow:  4px 4px 0px var(--text-shadow-color);
    min-height: 192px;
    justify-self: auto;
    align-self: center;
  }
}

.title {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color:var(--backround-title-color);
}

.header__title {
  justify-self: right;
  width: 491px;

}

@media (width < 1024px) {
  .header__title {
    width: 364px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title {
    width: 355px;
    justify-self: auto;
  }
}

.text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.section__why {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 20px;
  min-height: 508px;
  margin-top: 60px;
  padding: 0px 20px;
}

@media (width < 1024px) {
  .section__why {
    min-height: 648px ;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__why {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    min-height: 949px;
    margin-top: 40px;
    padding: 0px 10px;
  }
}

.section__why-title {
  max-width: 314.96px;
  overflow-wrap: break-word;
  color: var(--main-title-color);
  background-color: transparent;
}

@media (width < 1024px) {
  .section__why-title {
    max-width:236px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__why-title {
    max-width: 355px;
  }
}

.section__why-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 211px;
}

@media (width < 768px) and (width >= 375px) {
  .section__why-list {
    height: auto;
  }
}

.section__why-item-title {
  margin-bottom: 10px;
}

.section__why-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.section__why-item-link:hover {
  text-decoration: underline;
}

.section__why-item-link:focus {
  outline: none;
}

.section__why-item-link:focus-visible {
  border: 1px solid;
}

.section__what {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: dense;
  margin-top: 80px;
  padding: 0px 20px;


}

@media (width < 768px) and (width >= 375px) {
  .section__what {
    margin-top: 50px;
    padding: 0px 10px;
  }
}

.section__what-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 20px;
}

@media (width < 1024px) {
  .section__what-list{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}

@media (width < 1024px){
  .section__what-list {
    width: auto;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__what-list {
    min-width: auto;
  }
}

.section__what-item-title {
  margin-bottom: 10px;
  min-width: 315px;
}

.section__what-title {
  max-width: 315px;
  margin-bottom: 20px;
  color: var(--main-title-color);
  background-color: transparent;
}

@media (width < 1024px){
  .section__what-title {
    width: 236px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__what-title {
    min-width: 355px;
  }
}

.section__how {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 20px;
  min-height: 1015px;
  margin-top: 80px;
  padding: 0px 20px;
}

@media (width < 1024px) {
  .section__how {
    min-height: 648px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__how {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    min-height: 1736px;
    margin-top: 50px;
    padding: 0px 10px;
  }
}

.section__how-title {
  max-width: 315px;
  color: var(--main-title-color);
  background-color: transparent;
}

@media (width < 1024px) {
  .section__how-title{
    max-width: 236px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__how-title{
    min-width: 355px;
  }
}

.section__how-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__how-item-title {
  margin-bottom: 10px;
  font-weight: 400;
}

.section__pictures {
  min-height: 1019px;
  margin-top: 80px;
  padding: 0px 20px;

}

@media (width < 1024px) {
  .section__pictures{
    min-height: 823px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__pictures{
    margin-top: 50px;
    padding: 0px 10px;
  }
}

.section__pictures-title {
  margin-bottom: 20px;
}

.pictures__content {
  display: grid;
  grid-template-areas:
  " sunset sunset ice-cream "
  " tape books ice-cream "
  " tape street street ";
  gap: 20px;

}

@media (width < 768px) and (width >= 375px){
  .pictures__content {
    grid-template-areas:
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
    gap: 10px;
  }
}

.picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

}

.sunset { 
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.books {
  grid-area: books;
}

.tape { 
  grid-area: tape;
}

.street { 
  grid-area: street;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 768px;
  margin-top: 60px;
  padding: 20px 20px;
}

@media (width < 1024px) {
  .footer{
    min-height: 1024px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer{
    min-height: 667px;
    margin-top: 40px;
    padding: 10px;
  }
}

.footer__logo {
  text-shadow: 2px 2px 0px #FF0070;
}

@media (width < 1024px){
  .footer__logo{
    text-shadow: 2px 2px 0px var(--text-shadow-color);
  }
}

.footer::before {
  content: "";
  position: absolute;
  top:20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inset-inline-end: 20px;
}

.footer::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inset-block-end: 20px;
}